@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyBulkMeals</title>
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MyBulkMealsApp</a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Admin">Admin</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="~/MealPlans">Schedule</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Recipes" asp-action="Index">Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Ingredients" asp-action="Index">Ingredients</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer class="border-top footer text-muted mt-5 footer--splash">
        <div class="row">
            <div class="col-4">
                <ul class="list-unstyled">
                    <li><a asp-controller="Home" asp-action="About">About Us</a></li>
                    <li><a asp-controller="Recipes" asp-action="Index">Browse Recipes</a></li>
                    <li><a asp-controller="Ingredients" asp-action="Index">Browse Ingredients</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-4">
                <ul class="list-unstyled">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Manage/Index">
                                Manage Account
                            </a>
                        </li>
                        <li>
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <a href='#' onclick='this.parentNode.submit(); return false;'>Logout</a>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                        <li><a asp-area="Identity" asp-page="/Account/Login">Log-in</a></li>
                    }
                </ul>
            </div>
            <div class="col-4">
                <ul class="list-unstyled text-right splash__socials">
                    <li><a href="#">Pinterest <i aria-hidden="true" class="fa fa-pinterest-square ml-1"></i></a></li>
                    <li><a href="#">Twitter <i aria-hidden="true" class="fa fa-twitter-square ml-1"></i></a></li>
                    <li><a href="#">Instagram <i aria-hidden="true" class="fa fa-instagram ml-1"></i></a></li>
                    <li><a href="#">Facebook <i aria-hidden="true" class="fa fa-facebook-square ml-1"></i></a></li>
                </ul>
            </div>
        </div>

        <div>
            &copy; 2020 - MyBulkMealsApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
