@{
    ViewData["Title"] = "Contact";
    Layout = "/Views/Shared/_SplashLayout.cshtml";
}

<div class="home__hero">
    <img src="~/images/splash_1.jpg" class="home__hero__image" alt="Splash Image (Meal Prep Bowls)" />
    <div class="container jumbotron position-absolute">
        <h1 class="display-4">MyBulkMeals</h1>
        <p class="lead">Meal prep for dummies.</p>
        <hr class="my-4">
        <p class="lead">
            Meal prep doesn't have to be difficult. MyBulkMeals helps you plan by providing high quality recipes, giving you a shopping list and helping your schedule your prep time.
        </p>
    </div>
</div>

<div class="container home__body">
    <div>
        <h2>Contact Us</h2>
        <ul class="list-unstyled splash__socials">
            <li><a href="#">Pinterest <i aria-hidden="true" class="fa fa-pinterest-square ml-1"></i></a></li>
            <li><a href="#">Twitter <i aria-hidden="true" class="fa fa-twitter-square ml-1"></i></a></li>
            <li><a href="#">Instagram <i aria-hidden="true" class="fa fa-instagram ml-1"></i></a></li>
            <li><a href="#">Facebook <i aria-hidden="true" class="fa fa-facebook-square ml-1"></i></a></li>
        </ul>
    </div>
</div>