@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_SplashLayout.cshtml";
}


<div class="home__hero">
    <img src="~/images/splash_2.jpg" class="home__hero__image" alt="Splash Image (Meal Prep Bowls)" />
    <div class="container jumbotron position-absolute">
        <h1 class="display-4">MyBulkMeals</h1>
        <p class="lead">Meal prep for dummies.</p>
        <hr class="my-4">
        @if (SignInManager.IsSignedIn(User))
        {
            <p class="lead">Hello @User.Identity.Name!</p>

            <a class="btn btn-secondary btn-lg" href="~/Recipes" role="button">Recipes</a>
            <a class="btn btn-secondary btn-lg" href="~/Ingredients" role="button">Ingredients</a>
            <a class="btn btn-secondary btn-lg" href="~/MealPlans" role="button">Meal Plans</a>
        }
        else
        {
            <p class="lead">
                Meal prep doesn't have to be difficult. MyBulkMeals helps you plan by providing high quality recipes, giving you a shopping list and helping your schedule your prep time.
            </p>
            <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Register" role="button">Register</a>
            <a class="btn btn-secondary btn-lg" asp-area="Identity" asp-page="/Account/Login" role="button">Login</a>
        }
    </div>
</div>

<div class="container home__body">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <h3  class="font-weight-bold">How does it work?</h3>
            <p>Check out our most popular recipes and frequently used ingredients. Users are free to submit their own content, which is verified by administration, so you know you're getting quality.</p>
            <div class="row">
                <div class="col-lg-6">
                    <div class="shadow p-3 mb-5 bg-white rounded">
                        Recipes
                        <a class="btn btn-outline-info float-right" href="~/Recipes">@ViewData["recipesCount"]</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shadow p-3 mb-5 bg-white rounded">
                        Ingredients
                        <a class="btn btn-outline-info float-right" href="~/Ingredients">@ViewData["ingredientsCount"]</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h4 class="font-weight-bold">Our most popular recipes...</h4>
            <ul class="list-group m-4">
                @foreach (var recipe in (List<Recipe>)ViewData["topRecipes"])
                {
                    <li class="list-group-item">@recipe.ItemName <a class="btn btn-sm btn-outline-info float-right">Go!</a></li>
                }
            </ul>
            <a class="btn btn-outline-success btn-lg m-4" href="~/Recipes">View More</a>
        </div>
    </div>
    <div class="row col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">Search</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            <button class="btn btn-primary">GO!</button>
        </div>
    </div>
</div>