body {
    font-family: 'Zilla Slab', sans-serif;
    font-weight: 400;
}   

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-link {
    font-size: 1.5em;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.home__hero {
    width: 100%;
    background-color: #1861acAA;
    height: 75vh;
    min-height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/splash_1.jpg");
}


.home__hero__image {
    height: 100%;
    filter: grayscale(.75);
    object-fit: cover;
    width: 100%;
    z-index: -1;
}

.home__body {
    padding-top: 48px;
    font-size: 1.5em;
}

.item-page__details {
    max-width: 720px;
    margin: auto;
}

.color--bg--primary {
    background-color: #1861ac;
}

.color--bg--white {
    background-color: white;
}

.color--bg--darken {
    background-color: #000000AA;
}

.color--font--white {
    color: white !important;
}

.min-height--1 {
    min-height: calc(100vh - 128px);
}

.input--modified {
    background-color: palegoldenrod;
}

.font-size--1point5 {
    font-size: 1.5em;
}
