<h1>Recipe Report</h1>
<h2 class="font-weight-bold">Top 10 Recipes (by Views)</h2>
<ul class="list-group m-4">
    @foreach (var recipe in (List<Recipe>)ViewData["topRecipes"])
    {
        <li class="list-group-item">
            @recipe.ItemName
            <a href="~/Recipes/Details/@recipe.Id" class="btn btn-sm btn-outline-info float-right">
                View
            </a>
        </li>
    }
</ul>